@media (max-width: 400px) {
	.logo {
		max-width: 180px !important;
	}
}

@media (min-width: 400px) {
	.logo {
		max-width: 250px !important;
	}

	.card {
		width: 400px !important;
	}
}

body {
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: #fff !important;
}

.card {
	background-color: transparent;
	border: none;
	color: #161b51;
}

.btn {
	background-color: transparent;
		border: 2px solid #161b51;
		color: #161b51;
		padding: 10px 20px;
		font-size: 16px;
	font-size: 13px;
	cursor: pointer;
}

.btn:hover {
	background-color: #161b51;
	color: white;
	cursor: pointer;
}

.text-description {
	font-size: 13px;
}

.footer-title {
	color: #161b51 !important;
	font-size: 13px;
}

.text-green {
	color: #161b51;
	font-size: 10px;
}
